body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.td-color
{
    font-weight:500;
    font-size:larger;
    font-family:'Trebuchet MS';
}

.navbar
{
    background: rgba(255, 255, 255, 0.19);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

#immagineSfondo
{
    background-image:url(../img/1080p-wallpapers-hd.jpg);
    background-size:cover;
   
    
}
#immagineSfondo1
{
    background-image:url(../img/Newspaper.jpg);
    background-size:contain;
   
    
}

#immagineSfondo2
{
    background-image:url(../img/ws_Inspirational_Poster_2560x1600.png);
    background-size:cover;
}

#immagineSfondo3
{
    background-image:url(../img/Texture-pezzi-di-giornale.png);
    background-size:cover;
}


#div-trasp
{
    background: rgba(152, 122, 68, 0.50);
    
}




