@model IEnumerable<Talamelli.Lorenzo._5L.Posters.Fonte>

@{
    ViewBag.Title = "Sorgente";
}

<h2>Sorgente</h2>

<form>
    
    @foreach (var item in Model)
    {
    <div class="checkbox">
        <label>
            <input type="checkbox" > @item.Titolo
        </label>
    </div>
    }
    <input title="Submit" type="submit" action="@Url.Action("Submit","F")" />
 </form>
                                                

