
    @{
        ViewBag.Title = "Sceglifonti";
    }

    <br />
    <form>
        <div class="checkbox">
            <label>
                <input type="checkbox"> @Model.Title
            </label>
        </div>
    </form>

