
@{
    ViewBag.Title = "Home Page";
}
<body id="immagineSfondo">
    <div class="jumbotron text-center" id="div-trasp">
        <h1 class="text-center">POSTERS</h1>
        <p class="lead">Il miglior modo di leggere le notizie.</p>
        <p><a href="@Url.Action("Post", "Home")" class="btn btn-primary btn-lg">Prova ora &raquo;</a></p>
    </div>
</body>